PROM_TOKEN=your_prom_token_here
WRITE_ENABLED=true
MAX_PRODUCTS=5000
KEYWORD_MIN=5
SCAN_CONCURRENCY=5
FIX_CONCURRENCY=2
VERIFY_DELAY_MS=700
BATCH_SIZE=25

BEZET_FEED_URL=https://www.bezet.com.ua/sync/prom-second
BEZET_SITE_URL=https://www.bezet.com.ua
MILITARIS_FEED_URL=https://militaris.com.ua/content/export/04658108dda3987543769e4a63b496ca.xml
MILITARIS_SITE_URL=https://militaris.com.ua
